*~
*.o
debug
release
clangdebug
nosafety
.#*
tests/*
*.csv
src/faststi
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
*.log
*.trs
test-driver
src/Makefile.in
src/Makefile
*.gz
.deps/
src/.deps/
src/utils/.deps/

